.center1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff5f5;
  height: 82vh;
  border-radius: 10px;
}
.second-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #fff5f5;
}
